.imagesContainer {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 10px;
  justify-content: center;
}

.image {
  cursor: pointer;
  object-fit: cover;
  width: 200px;
  height: 200px;
}

@media screen and (max-width: 850px) {
  .image {
    width: 150px;
    height: 150px;
  }
  .imagesContainer {
    grid-template-columns: repeat(4, 150px);
  }
}

@media screen and (max-width: 650px) {
  .image {
    width: 120px;
    height: 120px;
  }
  .imagesContainer {
    grid-template-columns: repeat(4, 120px);
  }
}